.nav-menu__item {
  position: relative;
  height: var(--header-height);
  display: flex;
  align-items: center;
}

.nav-menu__link {
  display: inline-block;
  color: var(--text-color);
  /* background-color: aliceblue; */
  height: 100%;
  display: flex;
  align-items: center;
  transition: color var(--transition);
}

.nav-menu__link:hover {
  color: var(--title-color);
}

.nav-menu__item:hover .sub-menu {
  visibility: visible;
  opacity: 1;
}

.nav-menu__item .sub-menu {
  position: absolute;
  top: 100%;
  width: 29rem;
  background-color: #fff;
  padding: 3rem;
  border-radius: 0.25rem;
  opacity: 0;
  visibility: hidden;
  transition: opacity var(--transition);
}

.nav-links .sub-menu {
  right: 0;
}

.sub-menu::before {
  position: absolute;
  content: "";
  width: 1.25rem;
  height: 1.25rem;
  background-color: #fff;
  top: -0.75rem;
  left: 3rem;
  transform: rotate(45deg);
}

.nav-links .sub-menu::before {
  left: auto;
  right: 3rem;
}

.sub-menu__item:not(:last-child) {
  margin-bottom: 2.5rem;
}

.sub-menu__link {
  /* background-color: green; */
  display: inline-block;
  width: 100%;
}
.sub-menu__link h2 {
  position: relative;
  display: inline-block;
  font-size: 1.5rem;
  color: #000;
  line-height: 2.4rem;
}

.sub-menu__link h2 .arrow-right {
  position: absolute;
  width: 1rem;
  height: 1rem;
  top: 50%;
  left: 100%;
  transform: translate(0, -50%);
  opacity: 0;
  transition: transform var(--transition);
}

.sub-menu__link:hover h2 .arrow-right {
  opacity: 1;
  transform: translate(0.5rem, -50%);
}

.sub-menu__link span {
  display: block;
  font-size: 1.3rem;
  color: var(--text-color);
  transition: color var(--transition);
  font-weight: 300;
}
.sub-menu__link:hover span {
  color: #000;
}
