.hamburger-menu {
  cursor: pointer;
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hamburger-menu__link {
  position: relative;
  display: block;
  width: 100%;
  height: 0.2rem;
  background-color: var(--text-color);
  border-radius: 10rem;
  transition: var(--transition);
}

.hamburger-menu__link::before,
.hamburger-menu__link::after {
  position: absolute;
  content: "";
  width: inherit;
  height: inherit;
  background-color: var(--text-color);
  transition: var(--transition);
}

.hamburger-menu__link::before {
  top: -0.5rem;
}
.hamburger-menu__link::after {
  top: 0.5rem;
}

/* when hamburger menu opens */
.hamburger-menu.open .hamburger-menu__link {
  background-color: transparent;
}
.hamburger-menu.open .hamburger-menu__link::before {
  top: 0;
  transform: rotate(45deg);
}
.hamburger-menu.open .hamburger-menu__link::after {
  top: 0;
  transform: rotate(-45deg);
}
