.funfact-box {
  text-align: center;
  font-size: 2rem;
  transition: all var(--transition);
  padding: 10rem 0;
  border-bottom: 1px solid #202837;
}
.funfact-box:hover {
  color: var(--green);
}

.funfact-box:nth-child(2n + 2) {
  border-top: 1px solid #202837;
  border-bottom: 1px solid #202837;
}
.funfact-box__title {
  font-size: 3.2rem;
}
.funfact-box__caption {
  color: var(--text-color);
  margin: 2rem 0 7rem;
}
.funfact-box__link {
}

@media (min-width: 992px) {
  .funfact-box:nth-child(2n + 2) {
    border-top: 0;
    border-bottom: 0;
    border-left: 1px solid #202837;
    border-right: 1px solid #202837;
  }
}
