.companies {
  display: grid;
}
.company {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1.5rem;
}

.company img {
  width: 100%;
}

@media (min-width: 400px) {
  .companies {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 768px) {
  .companies {
    grid-template-columns: repeat(6, 1fr);
  }
}
