/* @font-face {
  font-family: "NeueHaasUnica";
  src: url("./../assets/fonts/NeueHaasUnica/NeueHaasUnica-Bold.ttf");
} */
@font-face {
  font-family: "NeueHaasUnica";
  src: url("./../assets/fonts/NeueHaasUnica/NeueHaasUnica-Medium.woff");
}
