@import "./reset.css";
@import "./fonts.css";
@import "./components.css";

:root {
  --app-bg: #111927;
  /* --app-bg: #0B121F; */
  --title-color: #fff;
  --text-color: #a4b1cd;
  --section-bg: #1A2332;

  /* colors */
  --green: #9fef00;

  --transition: 0.2s;

  /* measurements */
  --header-height: 8.5rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  line-height: 1.5;
}

body {
  font-size: 1.6rem;
  font-family: "NeueHaasUnica";
  background-color: var(--app-bg);
  color: var(--title-color);
}

::-webkit-scrollbar {
  width: 0.1rem;
}

a {
  text-decoration: none;
  color: inherit;
  transition: all var(--transition);
}
a:hover {
  /* color: var(--title-color); */
}

img{
  width: 100%;
  height: 100%;
  
}

.d-none {
  display: none !important;
}
