.testimonial-box {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  background-color: var(--section-bg);
  padding: 2.5rem 4rem;
  border-radius: 0.6rem;
  color: var(--text-color);
  min-height: 40rem;
  border: 1px solid #202837;
  user-select: none;
  background-color: #0B121F;
}
.testimonial-box__comment {
  line-height: 3rem;
  font-size: 1.8rem;
  margin-bottom: 2rem;
}
.testimonial-box__footer {
    
}
.testimonial-box__writer-img {
  margin-bottom: 2rem;
}
.testimonial-box__writer-info {
  margin-bottom: 2rem;
}
.testimonial-box__writer-name {
  font-size: 1.8rem;
  color: #fff;
  margin-right: 0.5rem;
}
.testimonial-box__writer-job {
}
