.blog-box {
  display: block;
}

.blog-box__img {
}
.blog-box__img img {
  width: 100%;
  height: 100%;
}
.blog-box__category {
  display: block;
  color: var(--text-color);
  margin: 2rem 0;
}
.blog-box__title {
  margin-top: 1rem;
  font-size: 1.8rem;
  line-height: 3rem;
  display: inline;
}

.blog-box__title .arrow-icon{
    display: inline-block;
  transform: rotate(-45deg);
}
