.funfacts{
    background-color: #0B121F;
}

.funfact-boxes{
    display: grid;
     margin: 5rem 0;
}
@media (min-width: 992px) {
    .funfact-boxes{
        grid-template-columns: repeat(3, 1fr);
    }
}