.section-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.section-header__title {
  font-weight: 700;
  font-size: 4.8rem;
}
.section-header__buttons {
  display: none;
}

.section-header__buttons .section-header__prev-btn,
.section-header__buttons .section-header__next-btn {
  background-color: #fff;
  width: 5rem;
  height: 5rem;
  display: grid;
  place-content: center;
  color: #000;
  border-radius: 0.6rem;
  cursor: pointer;
}

.section-header__buttons .section-header__prev-btn svg,
.section-header__buttons .section-header__next-btn svg {
  width: 2rem;
  height: 2rem;
}
.section-header__prev-btn {
}
.section-header__next-btn {
}

.testimonials-slider {
  position: relative;
  margin: 10rem 0;
}

.testimonials-slider::after {
  position: absolute;
  content: "";
  right: 0;
  top: 0;
  bottom: 0;
  width: 6%;
  background: linear-gradient(90deg, rgba(20, 29, 43, 0), #111927);
  z-index: 1;
}
.swiper-container {
  overflow: visible;
}
.testimonials-slider .swiper-wrapper {
  padding-bottom: 5.5rem;
}

.testimonials-slider .swiper-pagination .swiper-pagination-bullet {
  background-color: #a4b1cd !important;
  width: 1.3rem;
  height: 1.3rem;
  margin: 0 0.8rem !important;
}
.testimonials-slider .swiper-pagination .swiper-pagination-bullet-active {
  background-color: var(--green) !important;
}

@media (min-width: 576px) {
  .testimonials-slider {
    margin-left: 3rem;
  }
}

@media (min-width: 992px) {
  .section-header__buttons {
    display: flex;
    align-items: center;
    gap: 0.7rem;
  }
  .testimonials-slider .swiper-pagination {
    display: none;
  }
}
